.control_view_comment-form
  .control__button
    &::after
      content ''
      position absolute
      top -1.30rem
      right -2.00rem
      bottom -1.30rem
      left -2.00rem

.control_view_comment-form
  .control__svg
    margin-right 0.50rem
    width 1.20rem
    height 1.20rem

.control_view_comment-form
  .control__svg-path
    fill (--color-dark-grey)

.control_view_comment-form
  .control__button
    &:hover:not(:focus) .control__svg-path
      fill var(--color-hover-primary)
      @media (hover none)
        fill (--color-dark-grey)
      @supports (selector:focus-visible)
        fill (--color-dark-grey)

    &:active .control__svg-path
      fill var(--color-hover-primary)
      transition fill var(--transition-time_fast) ease-out
      @supports (selector:focus-visible)
        fill (--color-dark-grey)

    &:hover:not(:focus-visible) .control__svg-path
      @supports (selector:focus-visible)
        @media (hover hover)
          fill var(--color-hover-primary)

    &:active:not(:focus-visible) .control__svg-path
      @supports (selector:focus-visible)
        fill var(--color-hover-primary)
        transition fill var(--transition-time_fast) ease-out
