.not-found
  display flex
  flex-direction column
  justify-content center
  align-items center
  width 100%
  height 100vh
  background-color #f4f4f4

.not-found__title
  font-family var(--font-family-primary), sans-serif
  font-size var(--font-size_xxl)
  font-weight var(--font-weight_sm)
  line-height var(--line-height_sm)
  color var(--warning-color-primary)
