.main
  display grid
  grid-template-columns repeat(6, 1fr)
  grid-template-rows auto
  gap 2.50rem
  grid-template-areas  "Paragraph1 Paragraph1 Paragraph1 Paragraph1 Paragraph1 Paragraph1"\
                       "Figure1 Figure1 Figure1 Figure1 Figure1 Figure1"\
                       "Paragraph2 Paragraph2 Paragraph2 Paragraph2 Paragraph2 Paragraph2"\
                       "Figure2 Figure2 Figure2 Figure3 Figure3 Figure3"\
                       "Paragraph3 Paragraph3 Paragraph3 Paragraph3 Paragraph3 Paragraph3"\
                       "Figure4 Figure4 Figure5 Figure5 Figure6 Figure6"\
                       "Paragraph4 Paragraph4 Paragraph4 Paragraph4 Paragraph4 Paragraph4"\
                       "Figure7 Figure7 Figure7 Figure8 Figure8 Figure8"
  margin 0
  padding 2.50rem 0
  border-bottom 1px solid var(--color-light-grey)
  width 100%
  height auto

.main__paragraph1
  grid-area Paragraph1

.main__figure1
  grid-area Figure1
  width 100%

.main__figure1 img
  height 49.40rem

.main__paragraph2
  grid-area Paragraph2

.main__figure2
  grid-area Figure2
  width 100%

.main__figure2 img
  height 29.70rem

.main__figure3
  grid-area Figure3
  width 100%

.main__figure3 img
  height 29.70rem

.main__paragraph3
  grid-area Paragraph3

.main__figure4
  grid-area Figure4
  width 100%

.main__figure4 img
  height 19.30rem

.main__figure5
  grid-area Figure5
  width 100%

.main__figure5 img
  height 19.30rem

.main__figure6
  grid-area Figure6
  width 100%

.main__figure6 img
  height 19.30rem

.main__paragraph4
  grid-area Paragraph4

.main__figure7
  grid-area Figure7
  width 100%

.main__figure7 img
  height 29.70rem

.main__figure8
  grid-area Figure8
  width 100%

.main__figure8 img
  height 29.70rem
