.download
  display flex
  flex-direction row
  justify-content space-between
  align-items center
  outline none

.download__svg
  margin 0
  padding 0

.download_view_comment-form
  .download__svg
    margin-right 0
    width 1.40rem
    height 1.70rem
