.hide
  display flex
  flex-direction row
  justify-content space-between
  align-items center
  outline none

.hide__svg
  margin 0
  padding 0

.hide_view_post-control-bar
  .hide__svg
    margin-right 0
    width 1.20rem
    height 1.20rem

.hide_view_post-menu,
.hide_view_longread-control-bar,
.hide_view_shortread-control-bar
  .hide__svg
    margin-right 0.50rem
    width 1.20rem
    height 1.20rem
    @media screen and (max-width var(--breakpoint_xs))
      margin-right 0
