.control-bar
  display grid
  justify-items center
  align-items center
  grid-template-columns repeat(auto-fit, minmax(2.50rem, min-content))
  grid-template-rows auto
  gap 2.50rem
  margin 0
  padding 0
  width 100%
  @media screen and (max-width var(--breakpoint_xs))
    gap 2.00rem
