.add-contact
  display flex
  flex-direction row
  justify-content space-between
  align-items center
  outline none

.add-contact__svg
  margin 0
  padding 0

.add-contact_view_comment-form
  .add-contact__svg
    margin-right 0
    width 2.00rem
    height 1.20rem
