.close
  display flex
  flex-direction row
  justify-content space-between
  align-items center
  outline none

.close_view_longread-header,
.close_view_shortread-header
  position absolute
  top 3.00rem
  right 2.00rem
  @media screen and (max-width var(--breakpoint_md))
    top 1.50rem
    right 1.50rem

.close__svg
  margin 0
  padding 0

.close_view_longread-header,
.close_view_shortread-header
  .close__svg
    margin-right 0
    width 2.10rem
    height 2.10rem
    @media screen and (max-width var(--breakpoint_md))
      width 1.50rem
      height 1.50rem
