.copy
  display flex
  flex-direction row
  justify-content space-between
  align-items center
  outline none

.copy__svg
  margin 0
  padding 0

.copy_view_comment-form
  .copy__svg
    margin-right 0
    width 2.00rem
    height 2.00rem
