.comments
  margin 0
  padding 0
  width 100%

.comments__list
  margin 0
  padding 0
  font-size 0
  list-style none

.comments__list-item
  margin 0
  margin-bottom 3.50rem
  padding 0
  padding-top 0.50rem
  padding-left 4.00rem
  font-size 0
  background-image url(../../static/images/raster/comment/arrows.svg) , url(../../static/images/raster/comment/line.svg)
  background-repeat no-repeat, no-repeat
  background-position top 0 left 0, top 5.00rem left 0.80rem

.comments__list-item > *:first-child
  margin-bottom 4.00rem

.comments__list-item > *:last-child
  margin-bottom 0
