.paint
  display flex
  flex-direction row
  justify-content space-between
  align-items center
  outline none

.paint__svg
  margin 0
  padding 0

.paint_view_comment-form
  .paint__svg
    margin-right 0
    width 1.90rem
    height 1.90rem
