.header
  display flex
  flex-direction column
  justify-content space-between
  align-items flex-start
  margin 0
  margin-right auto
  padding 1.50rem 1.00rem 1.50rem 4.00rem
  max-width 62.00rem
  @media screen and (max-width var(--breakpoint_xs))
    align-items flex-start
    padding 2.20rem 2.00rem 1.30rem 2.00rem

.header__metadata
  display flex
  flex-direction row
  justify-content flex-start
  align-items center
  margin 0
  @media screen and (max-width var(--breakpoint_xs))
    margin-bottom 0.70rem
