.attach-document
  display flex
  flex-direction row
  justify-content space-between
  align-items center
  outline none

.attach-document__svg
  margin 0
  padding 0

.attach-document_view_comment-form
  .attach-document__svg
    margin-right 0
    width 1.60rem
    height 2.00rem
