.control
  position relative
  display flex
  flex-direction row
  justify-content flex-start
  align-items center
  margin 0
  padding 1.00rem 2.50rem
  outline none
  border none
  width 100%
  font-size 0
  text-decoration none
  font-style normal
  background none
  cursor pointer
  @media (hover none)
    cursor none
  @media screen and (max-width var(--breakpoint_sm))
    padding 1.30rem 2.00rem
    width 100%

  &:focus
    outline 2px solid var(--color-hover-primary)
    outline-offset 1px
    @media (hover none)
      outline none
    @supports (selector:focus-visible)
      outline none

  &:hover:not(:focus)
    outline none
    @media (hover none)
      outline none
    @supports (selector:focus-visible)
      outline none

  &:active
    outline none
    @supports (selector:focus-visible)
      outline none

  &:focus-visible
    @supports (selector:focus-visible)
      outline 2px solid var(--color-hover-primary)
      outline-offset 1px

  &:hover:not(:focus-visible)
    @supports (selector:focus-visible)
      @media (hover hover)
        outline none

  &:active:not(:focus-visible)
    @supports (selector:focus-visible)
      outline none

.control_view_toggle-button
  z-index 500
  padding 0
  width auto
  @media screen and (max-width var(--breakpoint_sm))
    padding 1.30rem 2.00rem
    border-radius 0.70rem
    width 100%
    background var(--color-white)

.control__label
  font-family var(--font-family-primary), sans-serif
  font-size var(--font-size_lg)
  font-weight var(--font-weight_xs)
  line-height var(--line-height_sm)
  color var(--text-color-secondary)
  transition color var(--transition-time_slow) linear
  @media screen and (max-width var(--breakpoint_xs))
    font-size var(--font-size_xs)

.control
  &:hover:not(:focus) .control__label
    color var(--color-hover-primary)
    @media (hover none)
      color (--text-color-secondary)
    @supports (selector:focus-visible)
      color (--text-color-secondary)

  &:active .control__label
    color var(--color-hover-primary)
    transition color var(--transition-time_fast) ease-out
    @supports (selector:focus-visible)
      color (--text-color-secondary)

  &:hover:not(:focus-visible) .control__label
    @supports (selector:focus-visible)
      @media (hover hover)
        color var(--color-hover-primary)

  &:active:not(:focus-visible) .control__label
    @supports (selector:focus-visible)
      color var(--color-hover-primary)
      transition color var(--transition-time_fast) ease-out

.control_view_toggle-button
  .control__label
    margin-right 0.50rem
    color var(--color-hover-primary)
    @media screen and (max-width var(--breakpoint_sm))
      margin-right auto

  &:hover:not(:focus) .control__label
    color var(--color-hover-primary)
    @media (hover none)
      color var(--color-hover-primary)
    @supports (selector:focus-visible)
      color var(--color-hover-primary)

  &:active .control__label
    color var(--color-hover-primary)
    transition color var(--transition-time_fast) ease-out
    @supports (selector:focus-visible)
      color var(--color-hover-primary)

  &:hover:not(:focus-visible) .control__label
    @supports (selector:focus-visible)
      @media (hover hover)
        color var(--color-hover-primary)

  &:active:not(:focus-visible) .control__label
    @supports (selector:focus-visible)
      color var(--color-hover-primary)
      transition color var(--transition-time_fast) ease-out

.control__svg
  margin 0
  margin-right 1.00rem
  padding 0
  width 1.50rem
  height 1.50rem
  @media screen and (max-width var(--breakpoint_xs))
    margin-right 0.40rem
    width 1.00rem
    height 1.00rem

.control__svg-path
  fill var(--brend-color)
  transition fill var(--transition-time_slow) linear

.control__svg-arrow
  position relative
  margin 0
  padding 0
  width 1.40rem
  height 0.80rem
  @media screen and (max-width var(--breakpoint_xs))
    width 1.00rem
    height 0.60rem

.control__svg-arrow-path
  fill var(--brend-color)
  transition fill var(--transition-time_slow) linear

.control_activejs
  .control__svg-arrow
    transform rotate(180deg)
