.record-voice
  display flex
  flex-direction row
  justify-content space-between
  align-items center
  outline none

.record-voice__svg
  margin 0
  padding 0

.record-voice_view_comment-form
  .record-voice__svg
    margin-right 0
    width 2.00rem
    height 1.80rem
