.search-block
  display flex
  flex-direction row
  justify-content space-between
  align-items center
  margin 0
  padding 0
  flex-grow 0
  flex-shrink 1
  flex-basis 0
  width 100%
  @media screen and (max-width var(--breakpoint_sm))
    order -1
    margin-bottom 4.00rem
    padding 1.40rem 2.00rem
    border-bottom-left-radius 0.70rem
    border-bottom-right-radius 0.70rem
    background var(--color-white)
