.update
  display flex
  flex-direction row
  justify-content space-between
  align-items center
  outline none

.update__svg
  margin 0
  padding 0

.update_view_comment-form
  .update__svg
    margin-right 0
    width 2.20rem
    height 1.60rem
