.report
  display flex
  flex-direction row
  justify-content space-between
  align-items center
  outline none

.report__svg
  margin 0
  padding 0

.report_view_post-control-bar
  .report__svg
    margin-right 0
    width 1.40rem
    height 1.20rem

.report_view_post-menu,
.report_view_longread-control-bar,
.report_view_shortread-control-bar,
.report_view_comment-control-bar
  .report__svg
    margin-right 0.50rem
    width 1.40rem
    height 1.20rem
