.format-text
  display flex
  flex-direction row
  justify-content space-between
  align-items center
  outline none

.format-text__svg
  margin 0
  padding 0

.format-text_view_comment-form
  .format-text__svg
    margin-right 0
    width 1.60rem
    height 1.80rem
