.save
  display flex
  flex-direction row
  justify-content space-between
  align-items center
  outline none

.save_view_post-menu
  @media screen and (max-width var(--breakpoint_sm))
    display none

.save__svg
  margin 0
  padding 0

.save_view_post-control-bar
  .save__svg
    margin-right 0
    width 2.00rem
    height 2.00rem

.save_view_post-menu,
.save_view_longread-control-bar,
.save_view_shortread-control-bar
  .save__svg
    margin-right 0.50rem
    width 1.40rem
    height 1.40rem
