.control__label
  font-family var(--font-family-primary), sans-serif
  font-size var(--font-size_sm)
  font-weight var(--font-weight_xs)
  line-height var(--line-height_sm)
  color var(--color-middle-grey)
  transition color var(--transition-time_slow) linear
  @media screen and (max-width var(--breakpoint_sm))
    font-size var(--font-size_xs)
