.copy-text
  display flex
  flex-direction row
  justify-content space-between
  align-items center
  outline none

.copy-text__svg
  margin 0
  padding 0

.copy-text_view_comment-form
  .copy-text__svg
    margin-right 0
    width 1.40rem
    height 1.70rem
