.shortread
  overflow-x hidden
  overflow-y auto
  position relative
  display flex
  flex-direction column
  justify-content flex-start
  align-items flex-start
  margin 0
  padding 5.50rem 4.00rem 0 4.00rem
  max-height 100%
  width 100%
  height auto
  background var(--color-white)
  box-shadow 0 0 50px 0 rgba(0, 0, 0, 0.15)
  @media screen and (max-width var(--breakpoint_sm))
    padding 3.50rem 2.50rem 0 2.50rem
