.footer
  display flex
  flex-direction column
  justify-content center
  align-items center
  margin 0
  padding 2.00rem 0
  width 100%
  @media screen and (max-width var(--breakpoint_sm))
    padding 1.50rem 0
